@using ShopApp.UI.Models.Dtos
@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "CATALOG";
}
<form>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3 ">
                <div class="card h-100 ">
                    <img src="@product.ImageUrl" class="card-img-top pt-3">
                    <div class="card-body">
                        <h5 class="font18 text-dark">@product.Name</h5>
                        <span style="font-size:15px;font-weight:bold;" class="badge bg-dark  mb-2">@product.CategoryName</span>
                        <p style="font-size:16px;font-weight:bold;">
                            @Html.Raw(product.Description)
                        </p>
                    </div>
                    <div style="margin-top:-15px;margin-bottom:15px;" class="row px-3">
                        <div class="col pt-2 font18">
                            <span>@(product.Price + " CAD")</span>
                        </div>
                        <div class="col">
                            <a asp-action="Details" asp-route-productId="@product.ProductId"
                           class="btn btn-warning form-control font18 ">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
<style>
    .card {
        border: solid 1px !important;
    }

    .card-img-top {
        width: 70%;
        align-self: center;
        object-fit: contain;
    }

    .font18 {
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
</style>